
html,
body {
  height: 100%;
  margin-top: 0px;
}

:root {

  /* ### Primary */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  
  /* fonts */
  --weight-light: 400;
  --weight-heavy: 600;
}

body {
  background-image: url(../images/bg-desktop.svg);
  background-size: contain;
  background-color: var(--violet);
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 18px;
}

/* GROSOR */
.fw-light {
  font-weight: var(--weight-light);
}

.fw-heavy {
  font-weight: var(--weight-heavy);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: 100vh;
}


@media (min-width: 320px) and (max-width: 376px) {
  body{
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
