.logo{
    height: 48px;
}

.first-section {
  width: 56%;
}
.second-section {
  width: 44%;
}

.container {
  max-width: 1200px;
}

.title {
  margin-top: 2.5rem;
  font-size: 2.4em;
}
.info {
  font-size: 17.5px;
}
.btn {
  border-radius: 30px;
  width: 212px;
  padding: 20px;
  font-size: 20px;
  color: var(--violet);
  border: 0;
}
.btn:hover{
    background-color: var(--soft-magenta);
    color: white;
}

.shadow {
    box-shadow: 3px 7px 18px -3px rgba(0,0,0,0.75);
}

@media (min-width: 320px) and (max-width: 899px) {
  .sm-flex-colum {
    flex-direction: column;
  }
  .logo-container{
    display: none;
  }
}
